@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <button type="button" class="btn btn-primary btn-lg">Entrar</button><br/><br/>
    <input type="text" id="idUser" name="idUser"/>
</div>